<!DOCTYPE html>
<html>
	<head>
		<title>NodeSpider</title>
		<link rel='stylesheet' href='/amazeui/css/amazeui.min.css' />
		<link rel='stylesheet' href='/amazeui/css/app.css' />
	</head>
<body>
	<div class="get">
		<div class="am-g">
			<div class="am-u-lg-12">
				<h1 class="get-title">NodeSpider</h1>
				<p>一个简单易用的爬虫系统</p>
			</div>
		</div>
	</div>

	<div class="detail">
		<div class="am-g am-container">
			<div class="am-u-lg-12">
			<h2 class="detail-h2">任务列表</h2>
			<ul class="am-list am-list-static am-list-striped" id="spider-list">
				<li>
					<span>京东笔记本图片</span>
					<div class="am-item-btns">
						<button class="am-btn am-btn-xs am-btn-success" tag="start">爬取</button>
						<button class="am-btn am-btn-xs am-btn-primary" tag="edit">修改</button>
						<button class="am-btn am-btn-xs am-btn-warning" tag="remove">删除</button>
					</div>
				</li>
				<li>
					<span>豆瓣电影</span>
					<div class="am-item-btns">
						<button class="am-btn am-btn-xs am-btn-success" tag="start">爬取</button>
						<button class="am-btn am-btn-xs am-btn-primary" tag="edit">修改</button>
						<button class="am-btn am-btn-xs am-btn-warning" tag="remove">删除</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<script src="/amazeui/js/jquery.min.js"></script>
	<script src="/amazeui/js/amazeui.min.js"></script>
	<script src="/amazeui/js/app.js"></script>
</body>
</html>
